:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  display: contents;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8rem;
}

.Grid {
  --grid-rows: unset; /* set using `style` property */
  --grid-cols: unset; /* set using `style` property */
  --grid-spacing: 0.25rem;
  --grid-cell-size: 1rem;

  background: wheat;
  display: grid;
  padding: var(--grid-spacing);
  gap: var(--grid-spacing);
  grid-template-columns: repeat(var(--grid-cols), var(--grid-cell-size));
  grid-template-rows: repeat(var(--grid-rows), var(--grid-cell-size));
}

.GridRow {
  display: contents;
}

.GridCell {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 900;
  color: cornflowerblue;
}